{% extends "index.html" %}
{% block title %}Aboutus{% endblock title %}

{% block aboutus %}
<head>
<style>
.about{
    background: url('https://media-www.sqspcdn.com/images/pages/tour/blogs/hero/background-desktop-1500w.jpg')
}
</style>
</head>
<div class='container about' style='height: 90vh; width:80vw'>
    <div class="row p-4">
        
        <div class=" col w-100 text-white">
            <h3 class="fs-3 fw-medium font-monospace pt-3"><em>Create a blog</em></h3>
            <h5 class='text-justify p-2 w-50 lh-base'>Share your story with the world. Create a beautiful, personalized blog that fits your brand. Grow your audience transform your passion into revenue by gating access with a paywall.</h5>
            </div>
        <picture class='col'>
            <img decoding="async" src="https://media-www.sqspcdn.com/images/pages/tour/blogs/hero/foreground-desktop-500w.jpg" width="550" height="530" loading="eager" alt="">
        </picture>
            </div>
    </div>
{% endblock aboutus %}